@media (max-width: 1940px) {
    body .main .section05 .duck-group {
        width: 100%;
    }

    .body .main .section04 .container .container-slider .slick-slide {
        width: 50px;
    }
}

@media (max-width: 1810px) {
    body .main .section01 .container .block-content {
        margin-top: -80px;
    }

    body .footer {
        margin-top: 160px;
    }

    body .body-bg {
        height: 6995px;
        background: url(../images/background1.png) no-repeat top center/100% 2818px, url(../images/background2.png) no-repeat top 2748px center/100%;
    }

    body .main .section01 {
        background: url(../images/first-screen-bg.png) no-repeat center bottom 113px /100% 90%;
    }

    body .main .section01 .container .block-content .content-title .title,
    body .main .section01 .container .block-content .content-title .title-shadow {
        font-size: 98.167px;
    }

    body .main .section01 .container .block-content .content-subtitle {
        margin-top: -74px;
    }

    .body .main .section01 .container .block-content .content-subtitle .subtitle,
    .body .main .section01 .container .block-content .content-subtitle .subtitle-shadow {
        font-size: 77px;
    }

    body .main .section01 .container .block-content .content-btn-group .group {
        margin-top: 0;
    }

    body .main .section01 .container .block-content .content-btn-group {
        margin-bottom: 0;
    }

    body .main .section01 .container .block-img img {
        width: 90%;
    }

    body .main .section04 .container .container-slider {
        width: 90%;
        margin: 0 auto;
    }

    body .main .section04 .container .container-slider .slick-slide {
        width: 460px;
    }

    body .main .section04 .container .container-slider .slick-next {
        right: -46px;
    }

    body .main .section04 .container .container-slider .slick-prev {
        left: -46px;
    }

    body .main .section05 .container .container-slider {
        width: 90%;
        margin: 0 auto;
    }

    body .main .section05 .container .container-slider .slick-slide {
        width: 460px;
    }

    body .main .section05 .container .container-slider .slick-next {
        right: -46px;
    }

    body .main .section05 .container .container-slider .slick-prev {
        left: -46px;
    }

    body .main .section03 .container .container-info-group .container-info .container-img {
        margin-left: -30px;
    }

    body .main .section02 .container .container-cards .card_ {
        width: 476px;
        height: 332px;
        background: url(../images/section02/card-bg.png) no-repeat center / cover;
    }

    body .main .section02 .container .container-subtitle span {
        font-size: 36px;
    }

    body .main .section05 .container .container-title .title,
    body .main .section05 .container .container-title .title-shadow {
        font-size: 84px;
    }

    body .main .section01 .container .block-img {
        text-align: right;
    }

    body .main .section01 .container .block-content .rectangle {
        width: 767px;
    }

    body .main .section05 .container .container-slider .slick-arrow,
    body .main .section04 .container .container-slider .slick-arrow {
        z-index: 3;
    }

    body .body-bg {
        height: 7105px;
        background: url(../images/background1.png) no-repeat top center/100% 3478px, url(../images/background2.png) no-repeat top 3408px center/100%;
    }
}

// @media (max-width: 1480px) {
//     body .navbar .container .navbar-collapse .navbar-nav .nav-item .nav-link span {
//         font-size: 14px;
//     }

//     body .navbar .container .navbar-collapse .navbar-nav .nav-item:hover .nav-link .nav-link-border,
//     body .navbar .container .navbar-collapse .navbar-nav .nav-item .nav-link .nav-link-border {
//         background-size: cover;
//     }

//     body .navbar .container .navbar-collapse .navbar-nav {
//         .nav-item1 .nav-link {
//             padding: 19px 22px 19px 22px;
//         }

//         .nav-item2 .nav-link {
//             padding: 16px 24px 21px 21px;
//         }

//         .nav-item3 .nav-link {
//             padding: 16px 28px 22px 23px;
//         }

//         .nav-item4 .nav-link {
//             padding: 18px 22px 19px 22px;
//         }

//         .nav-item5 .nav-link {
//             padding: 18px 30px 22px 30px;
//         }
//     }

//     body .navbar .container .navbar-border {
//         top: 0px;
//         left: 0px;
//         width: 100%;
//         height: 129px;
//         background: url(../images/section01/navbar-border.png) no-repeat center bottom/cover;
//     }

//     body .navbar .container {
//         max-width: 100%;
//         height: 128px;
//         position: relative;
//         padding: 0 35px;
//     }

//     body .main .section01 .container .block-content .content-title .title,
//     body .main .section01 .container .block-content .content-title .title-shadow {
//         font-size: 56.167px;
//     }

//     body .main .section01 .container .block-content .rectangle {
//         width: 457px;
//         height: 50px;
//     }

//     body .main .section01 .container .block-content .content-subtitle .subtitle,
//     body .main .section01 .container .block-content .content-subtitle .subtitle-shadow {
//         font-size: 53px;
//     }

//     body .main .section01 .container .block-content .content-subtitle {
//         margin-top: -95px;
//         margin-left: 50px;
//     }

//     body .main .section01 .container .block-content .content-btn-group .group a .btn {
//         background-size: cover;
//     }

//     body .main .section01 .container .block-content .content-btn-group .group a .btn {
//         width: 210px;
//         height: 102px;
//         font-size: 27px;
//     }

//     body .main .section01 .container .block-content .content-btn-group .group a .btn280 {
//         margin-right: 20px;
//     }

//     body .main .section01 .container .block-content .content-btn-group .group a .btn:hover {
//         background-size: cover;
//     }

//     body .main .section01 {
//         background: url(../images/first-screen-bg.png) no-repeat center top 60px/100%;
//     }

//     body .main .section01 .container .block-content {
//         margin-top: -150px;
//         width: 610px;
//     }

//     body .main .section01 .container .block-content .content-btn-group {
//         margin-bottom: -10px;
//         margin-top: -30px;
//     }

//     body .main .section01 .container .block-img {
//         margin-top: -40px;
//         width: 100%;
//     }

//     body .main .section01 .container .contract-code #toCopy-one {
//         font-family: "Pixeleum 48";
//         font-style: normal;
//         font-weight: 400;
//         font-size: 8px;
//         line-height: 25px;
//         text-align: center;
//         color: #fff;
//         text-shadow: 0px 2px 0px rgba(0, 0, 0, .21);
//     }

//     body .main .section01 .container .contract-code {
//         width: 100%;
//         height: 108px;
//         margin-top: -26px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         background: url(../images/section01/contract-code-bg2.png) no-repeat center / cover;
//     }

//     body .main .section01 .container .contract-code .button-copy {
//         margin-left: 19px;
//         width: 17px;
//         height: 22px;
//         border: none;
//         background: url(../images/section01/code-copy-icon.png) no-repeat center;
//         background-size: cover;
//     }

//     body .main .section01 .container .block-content .content-contact-btn-group .contact-title {
//         font-size: 24px;
//         margin-bottom: 0;
//     }

//     body .main .section01 .container .block-content .content-contact-btn-group .contact-btn-group a .btn {
//         width: 90px;
//         height: 76px;
//         background-size: cover;

//         img {
//             width: 30px;
//         }
//     }

//     body .main .section01 .container .block-content .content-contact-btn-group .contact-btn-group a .btn:hover {
//         background-size: cover;
//     }

//     body .main .section01 .container {
//         height: 686px;
//     }

//     body .main .section02 .container .container-title .title,
//     body .main .section02 .container .container-title .title-shadow {
//         font-size: 56.167px;
//     }

//     body .main .section02 {
//         padding-top: 0px;
//     }

//     body .main .section02 .container .container-subtitle {
//         margin-top: 0px;
//         margin-bottom: 53px;
//     }

//     body .main .section02 .container .container-subtitle span {
//         font-size: 21px;
//     }

//     body .main .section02 .container .container-subtitle .subtitle,
//     body .main .section02 .container .container-subtitle .subtitle-shadow {
//         font-size: 38px;
//     }

//     body .main .section02 .container .container-cards .card_ {
//         width: 306px;
//         height: 212px;
//     }

//     body .main .section02 .container .container-cards .card_1 img {
//         width: 215px;
//     }

//     body .main .section02 .container .container-cards .card_2 img {
//         width: 142px;
//     }

//     body .main .section02 .container .container-cards .card_3 img {
//         width: 192px;
//     }

//     body .main .section02 .container .container-cards .card_ .card-title {
//         bottom: 21px;
//     }

//     body .main .section02 .container .container-cards .card_ .card-title .title,
//     body .main .section02 .container .container-cards .card_ .card-title .title-shadow {
//         font-size: 36px;
//     }

//     body .main .section03 .container .container-title .title,
//     body .main .section03 .container .container-title .title-shadow {
//         font-size: 56.167px;
//     }

//     body .main .section03 {
//         padding-top: 87px;
//     }

//     body .main .section03 .container .container-subtitle {
//         margin-top: 21px;
//         margin-bottom: 19px;
//     }

//     body .main .section03 .container .container-subtitle span {
//         font-size: 30px;
//     }

//     body .main .section03 .container .container-subtitle .subtitle,
//     body .main .section03 .container .container-subtitle .subtitle-shadow {
//         font-size: 30px;
//     }

//     body .main .section03 .container .container-subtitle span.px48 {
//         margin: 0;
//     }

//     body .main .section03 .container .block-contract .contract-code {
//         width: 100%;
//         height: 12vw;
//         background-size: cover;
//     }

//     body .main .section03 .container .block-contract .contract-code #toCopy-two {
//         font-size: 26.6849px;
//     }

//     body .main .section03 .container .block-contract .contract-code .button-copy {
//         background-size: cover;
//         margin-left: 15px;
//         width: 67px;
//         height: 78px;
//     }

//     body .main .section03 .container .block-contract .contract-title {
//         background-size: cover;
//     }

//     body .main .section03 .container .block-contract .contract-title {
//         width: 642px;
//         margin-bottom: -77px;
//         height: 219px;
//     }

//     body .main .section03 .container .block-contract .contract-title .title,
//     body .main .section03 .container .block-contract .contract-title .title-shadow {
//         font-size: 28px;
//     }

//     body .main .section03 .container .container-info-group .container-info {
//         margin: 0 auto;
//         margin-bottom: 83.56px;
//     }

//     body .main .section03 .container .container-info-group {
//         margin-top: 86px;
//         margin-bottom: 0;
//     }

//     body .main .section04 .container .container-title .title,
//     body .main .section04 .container .container-title .title-shadow {
//         font-size: 56.167px;
//     }

//     body .main .section04 .container .container-slider-title {
//         margin-top: 0;
//     }

//     body .main .section05 .container .container-title .title,
//     body .main .section05 .container .container-title .title-shadow {
//         font-size: 56.167px;
//     }

//     body .main .section05 .container .container-title {
//         margin-top: 40px;
//         margin-bottom: 27px;
//     }

//     body .main .section05 .container .container-button-group a .btn,
//     body .main .section05 .container .container-button-group a .btn:hover {
//         background-size: cover;
//         width: 320px;
//         height: 106px;
//     }

//     body .main .section05 .container .container-button-group a .btn .btn-title {
//         font-size: 20px;
//     }

//     body .main .section05 .container .container-slider-title {
//         margin-top: 21px;
//     }

//     body .footer .container .footer-content .text {
//         font-size: 19px;
//         line-height: 27px;
//     }

//     body .footer .container .footer-content .contacts .mail,
//     body .footer .container .footer-content .contacts .mail a {
//         font-size: 23px;
//     }

//     body .footer .container .footer-content .contacts .btn-contacts-group .btn {
//         width: 90px;
//         height: 76px;
//         background-size: cover;

//         img {
//             width: 30px;
//         }
//     }

//     body .footer .container .footer-content .contacts .btn-contacts-group .btn {
//         background-size: cover;
//     }

//     body .body-bg {
//         height: 6140px;
//         background: url(../images/background1.png) no-repeat top center/100% 3698px, url(../images/background2.png) no-repeat top 3658px center/100%;
//     }
//     body .main .section01 .container {
//         height: 966px;
//     }
// }
@media (max-width:1480px) {
    body {
        overflow-x: hidden;
    }

    body .navbar .container {
        max-width: 990px;
        height: 124px;
    }

    body .navbar .container .navbar-border {
        max-width: 990px;
        height: 124px;
        left: 0;
    }

    body .navbar .container .collapse .navbar-nav {
        .nav-item {
            .nav-link {
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60px;

                .nav-link-border {
                    background-size: cover;
                }

                span {
                    font-size: 14px;
                }
            }

        }

        .nav-item1 .nav-link {
            width: 90px;
        }

        .nav-item2 .nav-link {
            width: 138px;
        }

        .nav-item3 .nav-link {
            width: 162px;
        }

        .nav-item4 .nav-link {
            width: 99px;
        }

        .nav-item5 .nav-link {
            width: 101px;
        }

        .nav-item:hover {
            .nav-link .nav-link-border {
                background-size: cover;
            }
        }
    }

    //============================================scale=====================================//

    body .main .section01 .container .block-content .content-btn-group .group a .btn {
        background-size: cover;
        width: 228px;
        height: 109px;
        font-size: 26px;
    }

    body .main .section01 .container .block-content .content-btn-group .group a .btn280 {
        margin-right: 14px;
        margin-left: 11px;
    }

    body .main .section01 .container .block-content .content-contact-btn-group .contact-btn-group a .btn:hover,
    body .main .section01 .container .block-content .content-btn-group .group a .btn:hover,
    body .main .section03 .container .block-contract .contract-code,
    body .main .section01 .container .contract-code {
        background-size: cover;
    }

    body .main .section01 .container .contract-code #toCopy-one {
        font-size: 15px;
    }

    body .main .section01 .container .block-content .content-contact-btn-group .contact-btn-group a .btn {
        background-size: cover;
        width: 112px;
        height: 112px;

        img {
            width: 40px;
        }
    }

    body .main .section01 .container .block-img {
        margin-top: -20px;
    }

    body .main .section01 .container .block-img img {
        width: 530px;
    }

    body .main .section01 .container .contract-code {
        width: 493px;
        height: 158px;
        margin-top: -50px;
    }

    body .main .section01 .container .contract-code #toCopy-one {
        font-size: 13px;
    }

    body .main .section01 .container .block-content {
        width: 710px;
    }

    body .main .section02 .container .container-subtitle span {
        font-size: 29px;
    }

    body .main .section02 .container .container-subtitle .subtitle,
    body .main .section02 .container .container-subtitle .subtitle-shadow {
        font-size: 48px;
    }

    body .main .section02 .container .container-cards .card_ {
        width: 370px;
        height: 256px;
    }

    body .main .section02 .container .container-cards .card_3 img {
        width: 256px;
    }

    body .main .section02 .container .container-cards .card_2 img {
        width: 191px;
    }

    body .main .section02 .container .container-cards .card_1 img {
        width: 269px;
    }

    body .main .section02 .container .container-cards .card_ .card-title {
        bottom: 30px;
    }

    body .main .section02 .container .container-cards .card_ .card-title .title,
    body .main .section02 .container .container-cards .card_ .card-title .title-shadow {
        font-size: 38px;
    }

    body .main .section03 .container .container-subtitle .subtitle-shadow {
        top: 18px;
    }

    body .main .section03 .container .container-subtitle .subtitle,
    body .main .section03 .container .container-subtitle .subtitle-shadow,
    body .main .section03 .container .container-subtitle .span {
        font-size: 38px;
    }

    body .main .section03 .container .block-contract .contract-code {
        width: 1124px;
        height: 138px;
    }

    body .main .section03 .container .block-contract .contract-code #toCopy-two {
        font-size: 30px;
        margin: 0;
    }

    body .main .section01 {
        background: url(../images/first-screen-bg.png) no-repeat center bottom 113px/100% 88%;
        margin-top: -100px;
        height: 980px;
    }

    body .main .section02 {
        padding-top: 0;
    }

    body .main .section03 .container .container-info-group .container-info {
        width: 49%;
    }

    body .main .section03 .container .container-info-group .container-info .container-text .container-block-title .title-shadow,
    body .main .section03 .container .container-info-group .container-info .container-text .container-block-title .title {
        font-size: 34px;
    }

    body .main .section03 .container .container-info-group .container-info .container-text .container-text-subtitle .title-shadow,
    body .main .section03 .container .container-info-group .container-info .container-text .container-text-subtitle .title {
        line-height: 40px;
        font-size: 40px;
    }

    body .main .section03 .container .container-info-group .container-info .container-img {
        width: 160px;
    }

    body .main .section03 .container .container-info-group {
        margin-bottom: 20.56px;
    }

    body .main .section04 .container .container-title .title-shadow,
    body .main .section04 .container .container-title .title {
        font-size: 80px;
    }

    body .main .section05 .container .container-title .title,
    body .main .section05 .container .container-title .title-shadow {
        font-size: 74px;
        top: 100px;
    }

    body .body-bg {
        height: 6535px;
    }

    body .main .section01 .container .block-content {
        margin-left: 60px;
    }

    body .main .section01 .container .block-img {
        margin-left: -99px;
        position: relative;
        right: 71px;
    }

    body .main .section01 .container .block-content .content-title .title,
    body .main .section01 .container .block-content .content-title .title-shadow {
        font-size: 83.167px;
        margin-left: 18px;
    }

    body .main .section01 .container .block-content .rectangle {
        width: 690px;
    }

    body .main .section01 .container .block-img img {
        width: 459px;
    }

    body .main {

        .section02,
        .section03,
        .section04,
        .section05 {
            .container {
                padding: 0 91px;
            }
        }
    }

    body {

        .footer {
            .container {
                padding: 0 91px;
            }
        }
    }

    body .main .section02 .container .container-cards .card_ {
        width: 344px;
        height: 241px;
    }

    body .main .section03 .container .container-subtitle .subtitle,
    body .main .section03 .container .container-subtitle .subtitle-shadow,
    body .main .section03 .container .container-subtitle .span {
        font-size: 36px;
    }

    body .main .section03 .container .block-contract .contract-code {
        width: 1044px;
        height: 129px;
    }

    body .main .section04 .container .container-title .title-shadow,
    body .main .section04 .container .container-title .title {
        font-size: 75px;
    }

    body .main .section05 .container .container-title .title,
    body .main .section05 .container .container-title .title-shadow {
        font-size: 67px;
        top: 100px;
    }

    body .main .section05 .container .container-button-group a .btn {
        background-size: cover;
        width: 333px;
        height: 113px;
    }

    body .main .section05 .container .container-button-group a .btn .btn-title {
        font-size: 23px;
    }
}

@media (max-width: 1240px) {
    body .main .section01 .container {
        height: 826px;
    }

    body .navbar .container {
        max-width: 742px;
        height: 124px;
    }

    body .navbar .container .navbar-border {
        max-width: 100%;
        height: 97px;
        left: 0;
    }

    body .navbar .container {
        max-width: 742px;
        height: 94px;
    }

    body .main .section01 {
        margin-top: -69px;
    }

    body .navbar .container .collapse .navbar-nav {
        .nav-item {
            .nav-link {
                height: 40px;
            }
        }

        .nav-item1 .nav-link {
            width: 60px;
        }

        .nav-item2 .nav-link {
            width: 91px;
        }

        .nav-item3 .nav-link {
            width: 109px;
        }

        .nav-item4 .nav-link {
            width: 67px;
        }

        .nav-item5 .nav-link {
            width: 68px;
        }

    }

    body .navbar .container .collapse .navbar-nav .nav-item .nav-link span {
        font-size: 10px;
    }

    body .navbar .container .navbar-brand .d-inline-block {
        width: 40px;
    }

    body .main .section01 .container .block-content .content-title .title,
    body .main .section01 .container .block-content .content-title .title-shadow {
        font-size: 74.167px;
    }

    body .main .section01 .container .block-content .content-subtitle .subtitle,
    body .main .section01 .container .block-content .content-subtitle .subtitle-shadow {
        font-size: 63px;
    }

    body .main .section01 .container .block-content .content-subtitle {
        margin-top: -92px;
    }

    body .main .section01 .container .block-content .rectangle {
        width: 100%;
    }

    body .main .section01 .container .block-content .content-btn-group .group a .btn {
        background-size: cover;
        width: 197px;
        height: 91px;
        font-size: 22px;
    }

    body .main .section01 .container .block-content .content-contact-btn-group .contact-title {
        font-size: 30px;
        margin-left: 20px;
    }

    body .main .section01 .container .block-content .content-contact-btn-group .contact-btn-group a .btn {
        background-size: cover;
        width: 98px;
        height: 87px;
    }

    body .main .section01 .container .block-content {
        width: 542px;
    }

    body .main .section01 .container .block-img img {
        width: 476px;
    }

    body .main .section01 .container .block-img {
        margin-top: -56px;
    }

    body .main .section01 .container .contract-code {
        width: 414px;
        height: 126px;
        margin-top: -20px;
    }

    body .main .section01 .container .contract-code #toCopy-one {
        font-size: 11px;
    }

    body .main .section01 .container .contract-code .button-copy {
        margin-left: 6px;
        width: 18px;
        height: 22px;
        background-size: cover;
    }

    body .main .section02 .container .container-title .title,
    body .main .section02 .container .container-title .title-shadow,
    body .main .section03 .container .container-title .title,
    body .main .section03 .container .container-title .title-shadow,
    body .main .section04 .container .container-title .title-shadow,
    body .main .section04 .container .container-title .title,
    body .main .section05 .container .container-title .title,
    body .main .section05 .container .container-title .title-shadow {
        font-size: 60px;
    }

    body .main .section02 {
        padding-top: 0;
        margin-top: -60px;
    }

    body .main .section02 .container .container-subtitle,
    body .main .section03 .container .container-subtitle {
        margin-top: 0px;
        margin-bottom: 44px;
    }

    body .main .section02 .container .container-subtitle span {
        font-size: 23px;
    }

    body .main .section02 .container .container-subtitle .subtitle,
    body .main .section02 .container .container-subtitle .subtitle-shadow {
        font-size: 34px;
    }

    body .main .section02 .container .container-cards .card_ {
        width: 300px;
        height: 208px;
    }

    body .main .section02 .container .container-cards .card_3 img {
        width: 186px;
    }

    body .main .section02 .container .container-cards .card_2 img {
        width: 141px;
    }

    body .main .section02 .container .container-cards .card_1 img {
        width: 239px;
    }

    body .main .section02 .container .container-cards .card_ .card-title .title,
    body .main .section02 .container .container-cards .card_ .card-title .title-shadow {
        font-size: 32px;
    }

    body .main .section02 .container .container-cards .card_ .card-title {
        bottom: 16px;
    }

    body .main .section03 {
        padding-top: 43px;
    }

    body .main .section03 .container .container-subtitle .subtitle,
    body .main .section03 .container .container-subtitle .subtitle-shadow,
    body .main .section03 .container .container-subtitle .span {
        font-size: 32px;
    }

    body .main .section03 .container .block-contract .contract-title {
        background-size: cover;
        width: 600px;
        height: 201px;
        margin-bottom: -75px;
    }

    body .main .section03 .container .block-contract .contract-title .title,
    body .main .section03 .container .block-contract .contract-title .title-shadow {
        font-size: 28px;
    }

    body .main .section03 .container .block-contract .contract-code {
        width: 940px;
        height: 114px;
    }

    body .main .section03 .container .block-contract .contract-code #toCopy-two {
        font-size: 26px;
    }

    body .main .section03 .container .block-contract .contract-code .button-copy {
        background-size: cover;
        margin-left: 11px;
        width: 60px;
        height: 70px;
    }

    body .main .section03 .container .container-info-group {
        margin-top: 84px;
    }

    body .main .section03 .container .container-info-group .container-info .container-text .container-block-title .title-shadow,
    body .main .section03 .container .container-info-group .container-info .container-text .container-block-title .title {
        font-size: 29px;
        line-height: 40px;
    }

    body .main .section03 .container .container-info-group .container-info .container-text .container-text-subtitle .title-shadow,
    body .main .section03 .container .container-info-group .container-info .container-text .container-text-subtitle .title {
        font-size: 29px;
    }

    body .main .section03 .container .container-info-group .container-info {
        height: 156px;
    }

    body .main .section03 .container .container-info-group .container-info .border-right {
        background-size: cover;
        width: 10px;
    }

    body .main .section04 .container .container-subtitle,
    body .main .section05 .container .container-subtitle {
        font-size: 24px;
    }

    body .main .section04 .container .container-slider-title {
        margin-top: 70px;
    }

    body .main .section05 .container .container-subtitle p {
        margin-bottom: 92px;
        line-height: 0px;
    }

    body .main .section05 .container .container-subtitle .px48 {
        font-size: 25.5282px;
    }

    body .main .section05 .container .container-button-group a .btn {
        background-size: cover;
        width: 294px;
        height: 100px;

        img {
            width: 34px;
        }
    }

    body .main .section05 .container .container-button-group a .btn:hover {
        background-size: cover;
    }

    body .main .section05 .container .container-button-group a .btn .btn-title {
        font-size: 17px;
    }

    body .main .section05 .container .container-slider-title {
        margin-top: 64px;
    }

    body .footer {
        margin-top: 90px;
    }

    body .footer .container .footer-content .text {
        font-size: 20px;
        line-height: 30px
    }

    body .footer .container .footer-content .contacts .btn-contacts-group .btn {
        background-size: cover;
        width: 98px;
        height: 87px;

        img {
            width: 30px;
        }
    }

    body .footer .container .footer-content .contacts .btn-contacts-group .btn:hover {
        background-size: cover;
    }

    body .footer .container .footer-content .contacts .btn-contacts-group {
        display: flex;
        justify-content: flex-end;
    }

    body .footer .container .footer-content .contacts .mail,
    body .footer .container .footer-content .contacts .mail a {
        font-size: 20px;
        margin-top: 0;
    }

    body .body-bg {
        height: 5298px;
    }
}

@media (max-width: 990px) {
    body .main .section01 .container .block-img {
        margin-left: 0;
        right: inherit;
    }

    body .main {

        .section02,
        .section03,
        .section04,
        .section05 {
            .container {
                padding: 0 10px;
            }
        }
    }

    body {

        .footer {
            .container {
                padding: 0 10px;
            }
        }
    }

    body .main .section05 .container .container-title {
        margin-top: -130px;
    }

    body .main .section03 .container .container-info-group .container-info {
        width: 100%;
    }

    body .main .section05 .container .container-subtitle p {
        line-height: 6vw;
    }

    body .main .section01 .container .contract-code {
        width: 100%;
        height: 126px;
    }

    body .main .section01 {
        height: 687px;
    }

    body .main .section02 .container .container-title .title,
    body .main .section02 .container .container-title .title-shadow,
    body .main .section03 .container .container-title .title,
    body .main .section03 .container .container-title .title-shadow,
    body .main .section04 .container .container-title .title-shadow,
    body .main .section04 .container .container-title .title,
    body .main .section05 .container .container-title .title,
    body .main .section05 .container .container-title .title-shadow {
        font-size: 42px;
    }

    body .navbar .container {

        .navbar-border,
        .navbar-bg {
            background: none;
            display: none;
        }

        .btn-primary {
            border: none;
            width: 33px;
            height: 19px;
            background: url(../images/icons/burger-menu.png) no-repeat center;
        }
    }

    body .main .section01 {
        background: url(../images/first-screen-bg.png) no-repeat center bottom /100% 88%;
    }

    body .main .section01 .container .block-content .content-btn-group,
    body .main .section01 .container .block-content .content-contact-btn-group {
        display: none;
    }

    body .main .section01 .container {
        padding-top: 225px;
        display: block;
    }

    body .main .section01 .container .block-content {
        margin: 0 auto;
        margin-top: -120px;
        width: 100%;

        .content-title {
            margin: 0 auto;
            text-align: center;
        }

        .content-subtitle {
            margin: 0 auto;
            margin-top: -95px;
        }
    }

    body .main .section01 .container .block-img img {
        width: 450px;
        margin: 0 auto;
    }

    body .main .section01 .container .block-content .content-title .title,
    body .main .section01 .container .block-content .content-title .title-shadow {
        font-size: 10vw;
    }

    body .main .section01 .container .block-content .content-subtitle .subtitle,
    body .main .section01 .container .block-content .content-subtitle .subtitle-shadow {
        font-size: 79px;
    }

    body .main .section01 .container .block-content .content-subtitle {
        margin: 0 auto;
        margin-top: -75px;
    }

    body .main .section01 .container .block-img {
        text-align: center;
    }

    body .main .section01 .container .block-img img {
        width: 450px;
        margin: 0 auto;
        margin-top: 48px;
    }

    body .main .section01 {
        margin-top: -90px;
    }

    body .main .section02 {
        padding-top: 119px;
    }

    body .main .section01 .container .contract-code #toCopy-one {
        font-size: 2vw;
    }

    body .main .section01 .container .contract-code .button-copy {
        width: 27px;
        height: 32px;
    }

    body .main .section02 .container .container-cards {
        display: block;
    }

    body .main .section02 .container .container-cards .card_ {
        margin: 0 auto;
        margin-bottom: 30px;
    }

    body .main .section05 .container .container-button-group {
        display: block;
    }

    body .main .section05 .container .container-button-group a .btn,
    body .main .section05 .container .container-button-group a .btn:hover {
        width: 100%;
        height: 24vw;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    body .main .section05 .container .container-title .title,
    body .main .section05 .container .container-title .title-shadow,
    body .main .section05 .container .container-button-group a .btn .btn-title {
        font-size: 6vw;
    }

    body .main .section03 .container .container-subtitle .subtitle,
    body .main .section03 .container .container-subtitle .subtitle-shadow,
    body .main .section03 .container .container-subtitle span {
        font-size: 3vw;
    }

    body .main .section03 .container .block-contract .contract-code #toCopy-two {
        font-size: 2.7vw;
    }

    body .main .section02 .container .container-subtitle span {
        font-size: 3vw;
        max-width: 42.4vw;
        line-height: 3.2vw;
    }

    body .main .section02 .container .container-subtitle .subtitle,
    body .main .section02 .container .container-subtitle .subtitle-shadow {
        font-size: 4vw;
    }

    body .main .section04 .container .container-title .title,
    body .main .section04 .container .container-title .title-shadow {
        font-size: 7vw;
    }

    body .main .section04 .container .container-subtitle,
    body .main .section05 .container .container-subtitle {
        font-size: 2.2vw;
    }

    body .main .section04 .container .container-subtitle p,
    body .main .section05 .container .container-subtitle p {
        margin-bottom: 2vw;
    }

    body .main .section04 .container .container-title {
        margin-bottom: 13px;
    }

    body .main .section03 .container .container-info-group .container-info .container-img {
        margin: 0;
    }

    body .main .section03 .container .container-info-group .container-info .container-text .container-block-title .title,
    body .main .section03 .container .container-info-group .container-info .container-text .container-block-title .title-shadow {
        font-size: 4.5vw;
    }

    body .main .section03 .container .container-info-group .container-info .container-text .container-text-subtitle .title,
    body .main .section03 .container .container-info-group .container-info .container-text .container-text-subtitle .title-shadow {
        font-size: 5vw;
    }

    body .main .section03 .container .block-contract .contract-title {
        width: 54vw;
        margin-bottom: -6vw;
        height: 18vw;
    }

    body .main .section03 .container .block-contract .contract-title .title,
    body .main .section03 .container .block-contract .contract-title .title-shadow {
        font-size: 2.5vw;
    }

    body .main .section03 .container .block-contract .contract-code {
        height: 11.9vw;
    }

    body .main .section03 .container .block-contract .contract-code .button-copy {
        width: 6vw;
        height: 8vw;
    }

    body .main .section04 .container .container-slider .slick-slide {
        scale: 0.7;
    }

    body .main .section04 .container .container-slider .slick-prev {
        left: -29px;
    }

    body .main .section04 .container .container-slider .slick-next {
        right: -29px;
    }

    body .main .section05 .container .container-slider .slick-slide {
        scale: 0.7;
    }

    body .main .section05 .container .container-slider .slick-prev {
        left: -29px;
    }

    body .main .section05 .container .container-slider .slick-next {
        right: -29px;
    }

    body .main .section05 .container .container-subtitle .px48,
    body .main .section04 .container .container-subtitle,
    body .main .section05 .container .container-subtitle {
        line-height: 10vw;
        font-size: 3.2vw;
    }

    body .main .section03 .container .block-contract .contract-code {
        height: 11.2vw;
        width: 92vw;
    }
}

@media (max-width: 540px) {
    body .main .section02 {
        padding-top: 0;
        margin-top: 80px;
    }

    body .main .section01 {
        background: url(../images/first-screen-bg-320px.png) no-repeat center bottom / 100%;
    }

    body .main .section01 {
        margin-top: -41vw;
    }

    body .main .section01 .container {
        padding-top: 80vw;
    }

    body .main .section01 .container .block-content .rectangle {
        display: none;
    }

    body .main .section01 .container .block-img img {
        width: 58vw;
        margin: 0 auto;
        margin-top: 0;
    }

    body .main .section01 .container .block-content .content-subtitle .subtitle,
    body .main .section01 .container .block-content .content-subtitle .subtitle-shadow {
        font-size: 9vw;
    }

    body .main .section01 .container .block-content .content-subtitle {
        margin: 0 auto;
        margin-top: -21vw;
    }

    body .main .section01 {
        background: url(../images/first-screen-bg-320px.png) no-repeat center top 43vw/100%;
    }

    body .main .section03 .container .container-title .title,
    body .main .section03 .container .container-title .title-shadow {
        font-size: 9vw;
    }

    body .main .section03 .container .container-info-group .container-info .container-img {
        margin: 0;
        width: 34vw;
    }

    body .main .section03 .container .container-info-group .container-info {
        height: 31vw;
    }

    body .main .section03 .container .container-info-group .container-info .container-text .container-text-subtitle .title,
    body .main .section03 .container .container-info-group .container-info .container-text .container-text-subtitle .title-shadow,
    body .main .section03 .container .container-info-group .container-info .container-text .container-block-title .title,
    body .main .section03 .container .container-info-group .container-info .container-text .container-block-title .title-shadow {
        line-height: 8vw;
    }

    body .footer .container .footer-content .contacts .mail,
    body .footer .container .footer-content .contacts .mail a {
        font-size: 4.6vw;
    }

    body .body-bg {
        height: 1387vw;
        background: url(../images/background1.png) no-repeat top center/100% 3698px, url(../images/background2.png) no-repeat bottom -1vw center/100% 100%;
    }

    body .footer .container {
        .footer-content {
            flex-wrap: wrap;

            .text {
                order: 2;
                margin: 0 auto;
                text-align: center;
                margin-top: 67px;
            }

            .contacts {
                order: 1;
                float: none;
                text-align: center;

                .mail {
                    text-align: center;
                }
            }
        }

        .pp {
            margin-top: -140px;
        }
    }

    body .main .section02 .container .container-title .title,
    body .main .section02 .container .container-title .title-shadow {
        font-size: 11vw;
    }

    body .main .section03,
    body .main .section02 {
        padding-top: 0;
    }

    body .main .section03 .container .block-contract .contract-code {
        width: 96vw;
    }

    body .footer .container .footer-content .contacts .btn-contacts-group .btn {
        width: 22vw;
        height: 17vw;
    }

    body .main .section05 .container .container-slider .slick-arrow:hover,
    body .main .section04 .container .container-slider .slick-arrow:hover,
    body .main .section05 .container .container-slider .slick-arrow,
    body .main .section04 .container .container-slider .slick-arrow {
        z-index: 3;
        background-size: cover;
        width: 14vw;
        height: 15vw;
        top: 200px;
    }

    body .main .section04 .container .container-slider .slick-slide,
    body .main .section05 .container .container-slider .slick-slide {
        scale: 0.5;
    }

    body .main .section03 .container .block-contract .contract-code {
        width: 100%;
    }

    body .footer .container .footer-content .contacts .btn-contacts-group .btn {
        width: 19.2vw;
        height: 15.6vw;
    }

    body .footer .container .footer-content .contacts {
        order: 1;
        float: none;
        text-align: center;
        margin: 0 auto;
    }

    body .body-bg {
        height: 1127vw;
    }

    body .main .section01 {
        height: 131vw;
    }
}

@media (max-width: 420px) {
    body .main .section01 .container .contract-code {
        height: 83px;
    }

    body .footer {
        margin-top: -10vw;
    }

    body .main .section05 .container .container-slider-title {
        margin-bottom: -11vw;
        font-size: 9vw;
    }

    body .main .section05 .container .container-title .title,
    body .main .section05 .container .container-title .title-shadow {
        line-height: 12vw;
    }

    .duck-group,
    .duck5 {
        display: none;
    }

    body .main .section04 .container .container-slider .slider {
        height: 271px;
    }

    body .main .section04 .container .container-slider-title {
        margin-bottom: -52px;
    }

    body .main .section03 .container .container-info-group .container-info {
        margin-bottom: 15.56px;
    }

    body .main .section01 {
        background: url(../images/first-screen-bg-320px.png) no-repeat center bottom/100% 74%;
    }

    body .main .section03 .container .block-contract .contract-code {
        height: 10.9vw;
    }

    body .main .section03 .container .block-contract .contract-code #toCopy-two {
        margin-bottom: 0;
    }

    body .main .section03 .container .block-contract .contract-code {
        width: 93vw;
    }

    body .main .section03 .container .container-title .title,
    body .main .section02 .container .container-title .title {

        margin-top: 75px;
    }

    body .main .section02 .container .container-title .title,
    body .main .section02 .container .container-title .title-shadow,
    body .main .section03 .container .container-title .title,
    body .main .section03 .container .container-title .title-shadow {
        line-height: 46px;
    }

    .body .main .section01 .container {
        padding-top: 54vw;
    }

    body .main .section01 {
        height: 140vw;
    }

    body .body-bg {
        height: 425vh;
    }

    body .duck7 {
        display: none;
    }

    body .main .section01 .container .block-content .content-subtitle {
        margin: 0 auto;
        margin-top: -37vw;
        margin-bottom: 2vw;
    }

    body .main .section01 .container .block-img img {
        width: 75vw;
    }

    body .main .section01 .container .contract-code .button-copy {
        width: 5vw;
        height: 6vw;
    }

    body .main .section02 .container .container-cards .card_ {
        width: 100%;
        height: 61vw;
    }

    body .main .section02 .container .container-subtitle,
    body .main .section03 .container .container-subtitle {
        margin-top: 0px;
        margin-bottom: 0;
    }

    body .main .section02 .container .container-subtitle,
    body .main .section03 .container .container-subtitle {
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin-bottom: 0;
    }

    body .main .section03 .container .container-subtitle .subtitle-shadow {
        margin-right: 19%;
        top: 0;
    }

    body .main .section03 .container .container-subtitle .span {
        font-size: 3vw;
    }

    // body .main .section03 .container .container-subtitle {
    //     display: none;
    // }
    body .main .section03 .container .container-subtitle .subtitle-shadow {
        display: none;
    }

    body .main .section03 .container .block-contract .contract-code {
        width: 100%;
    }

    body .main .section03 .container .block-contract .contract-code #toCopy-two {
        font-size: 2.4vw;
    }

    body .main .section03 .container .container-info-group .container-info .container-text {
        margin-left: 32px;
    }

    body .main .section04 .container .container-title .title,
    body .main .section04 .container .container-title .title-shadow {
        font-size: 6vw;
        line-height: 64px;
    }

    body .main .section04 .container .container-slider-title {
        font-size: 8vw;
        line-height: 1;
        margin-top: 26px;
    }

    body .main .section05 .container .container-title {
        margin-top: -70px;
    }

    body .main .section02 .container .container-subtitle .subtitle-shadow {
        font-size: 4vw;
        left: 7vw;
        top: -3vw;
    }

    body .navbar .container {
        padding: 0 10px;
    }

    body .main .section02 .container .container-cards .card_ {
        height: 64vw;
    }
    body .duck8 {
        position: absolute;
        z-index: 1;
        right: 0;
        top: auto;
        bottom: -118px;
    }
    body .duck4 {
        top: 3543px;
    }
    body .duck6 {
        display: none;
    }
    body .main .section01 .container .contract-code .button-copy {
        width: 16px;
        height: 19px;
    }
    body .main .section01 .container .contract-code {
        padding-bottom: 2px;
    }
    body .main .section01 .container .contract-code {
        margin-top: -1vw;
    }
    body .main .section03 .container .container-subtitle .span {
        margin-left: 8px;
    }
    body .main .section03 .container .container-subtitle .span {
        padding-top: 1px;
    }
    body .main .section03 .container .container-subtitle .span .px48 {
        margin-left: 0px;
    }

}
@media (max-width: 360px) {
    body .main .section01 .container .contract-code {
        margin-top: -5vw;
    }
}

@media (max-width: 320px) {
    body .main .section01 .container .block-content .content-subtitle {
        margin: 0 auto;
        margin-top: -30vw;
    }

    body .main .section01 .container .contract-code {
        height: 27vw;
    }

    body .main .section01 .container .contract-code .button-copy {
        width: 2vw;
        height: 4.3vw;
    }

    body .main .section01 .container .contract-code #toCopy-one {
        margin-top: -2vw;
    }

    body .main .section02 .container .container-subtitle {
        margin: 0 auto;
    }

    body .main .section01 {
        position: relative;
        z-index: 4;
    }

    body .main .section02 {
        position: relative;
        z-index: 5;
    }

    body .main .section03 .container .container-subtitle {
        margin-top: -9px;
        margin-bottom: -20px;
    }

    body .main .section03 .container .block-contract .contract-title .title-shadow {
        text-shadow: -1px 2px 0px rgba(0, 0, 0, .4);

    }

    body .main .section03 .container .container-info-group {
        margin-top: 44px;
        margin-bottom: 0;
    }

    body .main .section05 .container .container-subtitle .px48,
    body .main .section04 .container .container-subtitle,
    body .main .section05 .container .container-subtitle {
        font-size: 2.4vw;
    }

    body .main .section04 .container .container-slider-title {
        font-size: 8vw;
        margin-bottom: -86px;
    }

    body .main .section05 .container .container-slider-title {
        margin-bottom: -29vw;
    }

    body .body-bg {
        height: 401vh;
    }

    body .duck8 {
        top: 518px;
    }

    body .duck4 {
        top: 2384px;
    }

    body .main .section04 .container .container-title .title,
    body .main .section04 .container .container-title .title-shadow {
        font-size: 7vw;
        line-height: 17vw;
    }

    body .navbar .container {
        padding: 0 10px;
    }

    body .navbar .container .navbar-brand .d-inline-block {
        margin-right: 12.79px;
        width: 30px;
    }

    body .navbar .container {
        height: 78px;
    }
}